* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper {
    background-image: url('/GrayNormal.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.wrapper h1 {
    text-align: center;
    border-radius: 120px;
    background-color: gray;
    border: 10px solid purple;
}


.wrapper h2 {
    text-align: center;
    border-radius: 190px;
    background-color: cornflowerblue;
    border: 10px solid skyblue;
}


body {
    font-family: sans-serif;
}


.wrapper p {
margin: 0 auto;
margin-top: 100px;
border-radius: 100px;
background-color: grey;
border: 10px solid gold;
text-align: center;
}

.wrapper h3 {
        text-align: center;
        margin-top: 220px;
        border-radius: 100px;
        border: 10px solid blueviolet;
        background-color: lawngreen;
    }

    